extends layout

block content
    div(ng-controller="character-create-controller", ng-init="init()" style="width: 100%; height: 95%;")
        table(style="width: 100%; height: 100%;")
            tbody(style="width: 100%; height: 100%;")
                tr
                    td(style="vertical-align: top; width: 15%; padding-right: 1em;")
                        button(ng-click="saveCharacter()") Save
                        button(ng-click="resetCharacter()") Reset
                        button(ng-click="goToCharacterSelect()") Character Select
                        input(ng-model="activeCharacter.name" style="width: 100%")
                        label(for="gender_select") Gender:&nbsp;
                        select(ng-model="activeCharacter.gender" id="gender_select")
                            option Male
                            option Female
                        br
                        div {{activeCharacter.race}} {{activeCharacter.class}} Lv. {{activeCharacter.level}}
                        br
                        div HP: {{activeCharacter.hp}}
                        h3 Ability Scores
                        table
                            thead
                                tr
                                    td Ability
                                    td Score
                                    td Modifier
                            tbody
                                tr(ng-repeat="abilityScore in activeCharacter.abilityScores")
                                    td {{abilityScore.name}}
                                    td(ng-bind="getAbilityScore(abilityScore)")
                                    td(ng-bind="getAbilityModifier(abilityScore)")
                        h3 Powers
                        div(style="height: 5em; overflow: auto;")
                            div(ng-repeat="power in activeCharacter.powers") {{power.name}}
                        h3 Feats
                        div(style="height: 5em; overflow: auto;")
                            div(ng-repeat="feat in activeCharacter.feats") {{feat.name}}
                        h3 Skills
                        div(style="height: 6em; overflow: auto;")
                            div(ng-repeat="skill in activeCharacter.skills") {{skill.name}} - {{skill.race + skill.trained}}
                    td(style="background-color: black; color: white; height: 100%; overflow: auto; width: 100%")
                        div(ng-include="currentTab" style="height: 100%; overflow: auto;")
        div(style="height: 2em;")
            div(ng-click="currentTab = 'cc.races.html'" class="jump_link") Race
            div(ng-click="currentTab = 'cc.classes.html'" class="jump_link") Class
            div(ng-click="currentTab = 'cc.summary.html'" class="jump_link") Summary
        script(type="text/ng-template" id="cc.races.html")
            include characterCreate/races
        script(type="text/ng-template" id="cc.classes.html")
            include characterCreate/classes
        script(type="text/ng-template" id="cc.summary.html")
            include characterCreate/summary