extends layout

block content
    div(ng-controller="character-controller", style="width: 50%")
        h2(style="text-align: center") Character Templates
            button(class="header_button", ng-click="newCharacter()") + New
        div(ng-repeat="t in characterTemplates" style="border: 3px solid black; width: 45%; display: inline-block;")
            a(href="/#/characterCreate/{{t._id}}") {{t.name}}