extends layout

block content
    div(ng-controller="character-controller", ng-init="init()")
        div(ng-repeat="t in races" style="width: 100%; color: white; background-color: black;")
            h1 {{t.name}}
            div(style="text-align: right;")
                div Average Height: {{t.averageHeight}}
                div Average Weight: {{t.averageWeight}}
                div Size: {{t.size}}
                div Speed: {{t.speed}}
                div Vision: {{t.vision}}
                div Languages:&nbsp;
                    span(ng-repeat="language in t.languages") {{language.name}}&nbsp;
                div Skills:&nbsp;
                    span(ng-repeat="skill in t.skills") {{skill.name}} - {{skill.bonus}}
                div Ability Bonuses:&nbsp;
                    span(ng-repeat="ability in t.abilityScores") {{ability}}
                div
                    div(ng-repeat="trait in t.traits")
                        h3 {{trait.name}}
                        div {{trait.description}}