extends layout

block content
    div(ng-controller="character-controller")
        h2 Character Templates
        div(ng-repeat="t in characterTemplates")
            div Hello World!
            div {{t.characterName}}