div(ng-controller="character-create-controller", ng-init="init()" style="width: 100%; height: 100%;")
    table(style="width: 100%; height: 100%")
        tr.controls(style="height: 2em;" class='ui-widget-header')
            td
                jq-button(ng-click="goToCharacterSelect()" id="cs-button" value="Back")
                jq-button(ng-click="saveCharacter()" id="save-button" value="Save")
                jq-button(ng-click="resetCharacter()" id="reset-button" value="Reset")
            td
                jq-button(ng-click="currentTab = 'cc.races.html'" id="race-button" value="Race")
                jq-button(ng-click="currentTab = 'cc.classes.html'" id="race-button" value="Class")
                jq-button(ng-click="getSummary()" id="race-button" value="Summary")
        tr
            td#characterSummary(class="ui-widget-content")
                div
                    input(ng-model="activeCharacter.name" style="width: 100%" class='ui-state-default' hover-class='ui-state-hover')
                    label(for="gender_select") Gender:&nbsp;
                    select(ng-model="activeCharacter.gender" id="gender_select" class='ui-state-default' hover-class='ui-state-hover')
                        option Male
                        option Female
                    //br
                    .ui-widget-header {{activeCharacter.race}} {{activeCharacter.class}} Lv. {{activeCharacter.level}}
                    //br
                    .ui-widget-header HP: {{activeCharacter.hp}}
                    .ui-widget-header Ability Scores
                    table(style="width: 100%;")
                        thead
                            tr
                                td.ui-widget-header Ability
                                td.ui-widget-header Score
                                td.ui-widget-header Modifier
                        tbody
                            tr(ng-repeat="abilityScore in activeCharacter.abilityScores")
                                td.ui-state-active {{abilityScore.name}}
                                td.ui-state-active(ng-bind="getAbilityScore(abilityScore)")
                                td.ui-state-active(ng-bind="getAbilityModifier(abilityScore)")
                    .ui-widget-header Powers
                    .ui-state-active(ng-repeat="power in activeCharacter.powers") {{power.name}}
                    .ui-widget-header Feats
                    .ui-state-active(ng-repeat="feat in activeCharacter.feats") {{feat.name}}
                    .ui-widget-header Skills
                    .ui-state-active(ng-repeat="skill in activeCharacter.skills") {{skill.name}} - {{skill.race + skill.trained}}
            td#cc_section(class='ui-widget-content')
                div(ng-include="currentTab" style="height: 100%; overflow: auto;")
    script(type="text/ng-template" id="cc.races.html")
        include characterCreate/races
    script(type="text/ng-template" id="cc.classes.html")
        include characterCreate/classes
    script(type="text/ng-template" id="cc.summary.html")
        include characterCreate/summary