extends layout
block content
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='stylesheets/jquery-ui.min.css')
    script(src="http://code.jquery.com/jquery-1.9.1.js")
    script(src="http://code.jquery.com/ui/1.10.2/jquery-ui.js")
    script(type='text/javascript', src='angular/angular.min.js')
    script(type='text/javascript', src='angular-route/angular-route.js')
    script(type='text/javascript', src='angular-cookies/angular-cookies.js')
    script(type="text/javascript" src="javascripts/controllers/controllers.js")
    script(type="text/javascript" src="javascripts/directives/uiButton.js")
    script(type="text/javascript" src="javascripts/directives/hover.js")
    // Login
    script(type="text/javascript" src="javascripts/login/loginController.js")
    // Character creation
    script(type="text/javascript" src="javascripts/characterCreate/race/raceSelection.js")
    script(type="text/javascript" src="javascripts/characterCreate/race/raceController.js")
    script(type="text/javascript" src="javascripts/characterCreate/class/classSelection.js")
    script(type="text/javascript" src="javascripts/characterCreate/class/classController.js")
    script(type="text/javascript" src="javascripts/characterCreate/characterCreateController.js")
    script(type="text/javascript" src="javascripts/powerSearch/filterController.js")
    div(ng-app='dungeon-butler' style='width: 100%; height: 100%')
        #menu(class='ui-widget-header' style="width: 99.9%; height: 9%;")
            div(ng-controller='logout-controller' ng-show="loggedInUser !== undefined")
                jq-button(ng-click="logout()" id="logout-button" value="Log Out")
                jq-button(ng-click="showPowerSearch()" value="Powers")
                jq-button(ng-click="showCharacters()" value="Characters")
            include login
        #siteContent(ng-view style="width: 99.9%; height: 90.5%;")

