doctype html
html
    body
        block content
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript', src='angular/angular.min.js')
        script(type='text/javascript', src='angular-route/angular-route.js')
        script(type='text/javascript', src='angular-cookies/angular-cookies.js')
        script(type='text/javascript', src='underscore/underscore.js')
        script(type='text/javascript', src='classjs/class.js')
        script(type="text/javascript" src="javascripts/controllers/controllers.js")

        // Character creation
        script(type="text/javascript" src="javascripts/characterCreate/race/raceSelection.js")
        script(type="text/javascript" src="javascripts/characterCreate/race/raceController.js")
        script(type="text/javascript" src="javascripts/characterCreate/class/classSelection.js")
        script(type="text/javascript" src="javascripts/characterCreate/class/classController.js")
        script(type="text/javascript" src="javascripts/characterCreate/characterCreateController.js")
