doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript', src='angular/angular.min.js')
        script(type='text/javascript', src='angular-route/angular-route.js')
        script(type='text/javascript', src='angular-cookies/angular-cookies.js')
        script(type='text/javascript', src='underscore/underscore.js')
        script(type='text/javascript', src='classjs/class.js')
        script(type='text/javascript', src='javascripts/characterCreate/characterCreateUtility.js')
        script(type="text/javascript" src="javascripts/controllers/controllers.js")
        script(type="text/javascript" src="javascripts/characterCreate/raceSelection.js")
        script(type="text/javascript" src="javascripts/characterCreate/classSelection.js")
        script(type="text/javascript" src="javascripts/controllers/characterCreate.js")
    body
        block content