form#loginForm(ng-controller="login-controller" class="ui-widget")
    div(ng-hide="loggedInUser !== undefined", class='ui-widget-content')
        div(style='display: table-row')
            label(for = 'usernameInput', style='display: table-cell;') Username
            input#usernameInput(type="text", ng-model="usernameInput", class="ui-state-default" hover-class="ui-state-hover" style='display: table-cell;')
        div(style='display: table-row')
            label(for = "passwordInput" style='display: table-cell;') Password
            input#passwordInput(type="password", ng-model="passwordInput", class="ui-state-default" hover-class="ui-state-hover" style='display: table-cell;')
        jq-button(ng-click="login()" id="login-button" value="Login") Login