html, body {
    height: 99%;
    width: 99%;
}

body {
    font-size: 14px;
    font-family: "Lucida Console", Monaco, monospace;
}

@font-face {
    font-family: 'TheKidsMraker';
    src: url('http://localhost:3000/fonts/The_Kids_Mraker.ttf');
}

h2 {
    font-family: 'TheKidsMraker';
    font-size: 2em;
    color: red;
}

a {
  color: #00B7FF;
}

.existingForm {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 10em;
    height: 5em;
    border-radius: 3em;
    border: 0.1em solid #a1a1a1;
    padding: 2em;
    background: linear-gradient(greenyellow, limegreen);
}

.header_button {
    transition: color 1s, background 1s;
    font-family: 'TheKidsMraker';
    font-size: 1em;
    margin-left: 0.25em;
    border-radius: 0.3em;
    background: greenyellow;
    color: maroon;
}

.header_button:hover {
    color: crimson;
    background: limegreen;
}

.character-create-header {
    width: 100%;
    height: 3em;
    background-color: grey;
    border-bottom: 0.25em inset aqua;
    position: static;
    top: 0;
}

.character-create-header-text {
    font-family: 'TheKidsMraker';
    font-size: 2em;
    margin-left: 1em;
}

.race_select h2, .class_select h2 {
    white-space: nowrap;
    color: white;
}