div(ng-controller="race-controller" style="height: 100%;")
    #race_select(style="height: 100%;")
        table(style="width: 100%; height: 100%;")
            thead
                tr
                    td
                        table.ui-widget-header(style="width: 100%;")
                            tr
                                td(style="text-align: left;")
                                    jq-button(ng-click="getNextRace($index - 1)" id="select-race-button" value="Previous")
                                td(style="text-align: middle")
                                    jq-button(ng-click="pickRace()" id="select-race-button" value="Select")
                                td(style="text-align: right;")
                                    jq-button(ng-click="getNextRace($index + 1)" id="select-race-button" value="Next")
            tbody
                tr(style="overflow: auto; vertical-align: top;")
                    td
                        table(style="width: 100%; vertical-align: top;")
                            tbody
                                tr
                                    td(colspan=2)
                                        h2.ui-widget-header {{currentRace.name}}
                                tr
                                    td(style="vertical-align: top; width: 60%")
                                        table(style="width: 100%;")
                                            tr(ng-repeat="trait in currentRace.traits")
                                                td.ui-widget-header(style="text-align: right;") {{trait.name}}
                                                td.ui-state-active {{trait.description}}
                                    td(rowspan="2" style="padding-right: 1em; vertical-align: top; width: 40%;")
                                        table(style="width: 100%;")
                                            tr
                                                td.ui-widget-header(style="text-align: right;") Average Height
                                                td.ui-state-active {{currentRace.averageHeight}}
                                            tr
                                                td.ui-widget-header(style="text-align: right;") Average Weight
                                                td.ui-state-active {{currentRace.averageWeight}}
                                            tr
                                                td.ui-widget-header(style="text-align: right;") Size
                                                td.ui-state-active {{currentRace.size}}
                                            tr
                                                td.ui-widget-header(style="text-align: right;") Speed
                                                td.ui-state-active {{currentRace.speed}}
                                            tr
                                                td.ui-widget-header(style="text-align: right;") Vision
                                                td.ui-state-active {{currentRace.vision}}
                                            tr
                                                td.ui-widget-header(style="text-align: right;") Languages
                                                td.ui-state-active
                                                    span(ng-repeat="language in currentRace.languages") {{language.name}}
                                                        br
                                            tr
                                                td.ui-widget-header(style="text-align: right;") Skills
                                                td.ui-state-active
                                                    span(ng-repeat="skill in currentRace.skillBonus") {{skill.name}}: {{skill.bonus}}
                                                        br
                                            tr
                                                td.ui-widget-header(style="text-align: right;") Ability Bonuses
                                                td.ui-state-active
                                                    span(ng-repeat="ability in currentRace.abilityScores") {{ability.name}}:&nbsp;{{ability.value}}
                                                        br
                tfoot
                    tr(style="vertical-align: bottom;")
                        td
                            div(style="margin-top: 1em;")
                                span.controls(ng-repeat="t in races" style="height: 2em;")
                                    jq-button(ng-click="goToRace(t.name)" id="{{t.name}}-race-button" ng-bind="t.name" style="width: 15%;")